* {
  box-sizing: border-box;
}

/* Typography */
code {
  font-family: Consolas, "Courier New";
  font-size: 100%;
  color: whitesmoke;
  background-color: teal;
  padding: 3px;
}

h1, h2, strong, p, .intro_text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 95px;
  text-align: center;
  color: azure;
  opacity: calc(0.4);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

h2 {
  font-size: 35px;
  font-weight: bold;
}

strong {
  font-size: 45px;
  font-weight: bold;
  padding-top: 50px;
}

p {
  font-size: 15px;
}

.intro_text {
  text-align: center;
  color: azure;
  opacity: calc(0.7);
  padding-bottom: 50px;
}

/* Layout */
body {
  background: url("img/header_image_blurred.png");
  height: 1350px;
  animation-name: first_load;
  animation-duration: 8s;
}

.toprow {
  position: top;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex; /* Enables Flexbox */
  justify-content: space-between; /* Distributes items evenly across the horizontal axis */
  align-items: stretch; /* Stretches items to fill the container vertically */
  width: 100%; /* Takes full width of the parent */
  gap: 20px; /* Adds a 20px gap between the decalcolumn elements */
}

.decalcolumn_left, .decalcolumn_right {
  flex: 1;
  content: "";
  display: block;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3); /* Adjust these values as needed */
  padding: 50px;
  border: 10px solid black;
  transition: transform 2s ease-in-out;
  backdrop-filter: blur(10px);
  border-radius: 35px;
  overflow: hidden;
}

.decalcolumn_left {
  flex-grow: 1;
  flex-shrink: 1;
  transform: translateX(-120%);
  animation: slideInFromLeft 2s forwards;
  animation-delay: 9s;
  height: 550px;
  width: 150px;
}

.decalcolumn_right {
  flex-grow: 2;
  flex-shrink: 2;
  transform: translateX(120%);
  animation: slideInFromRight 2s forwards;
  animation-delay: 11s;
  height: 300px;
  width: 90%;
}

/* Animations */
@keyframes slideInFromLeft {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes first_load {
  0% {background: url("img/header_image_normal.jpg"); height: max-content;}
  100% {background: url("img/header_image_blurred.png"); height: max-content;}
}
